#!/usr/bin/make -f
# -*- makefile -*-

export DH_GOPKG := github.com/BurntSushi/xgbutil
export DH_GOLANG_EXCLUDES := ${DH_GOPKG}/_examples
export DEB_BUILD_OPTIONS := nocheck

%:
	dh $@ --buildsystem=golang --with=golang
